[submodule "! First Year/CSC148-Y-Summer"]
	path = ! First Year/CSC148-Y-Summer
	url = https://github.com/Dawgsrlife/CSC148_Y_Summer.git
[submodule "! Second Year/Fall Term/CSC207-A1"]
	path = ! Second Year/Fall Term/CSC207-A1
	url = https://github.com/Dawgsrlife/CSC207-Assignment-1-FINAL.git
[submodule "! Second Year/Fall Term/CSC258-Labs"]
	path = ! Second Year/Fall Term/CSC258-Labs
	url = https://github.com/Dawgsrlife/CSC258.git
[submodule "! Second Year/Fall Term/CSC258-Sokoban-Project"]
	path = ! Second Year/Fall Term/CSC258-Sokoban-Project
	url = https://github.com/Dawgsrlife/Sokoban-Game.git
